{% extends "base/base.html" %}
{% block titulo %}Buscar beneficios por Programa{% endblock %}
{% block contenido %}
<h1>Programa: {{ programa.nombre }}</h1>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %} <div class="message">{{ message }}</div>{% endif %}
    {% endfor %}
{% endif %}
<p>Ingrese un rango de fechas para la fecha de entrega de los beneficios</p><br>
<form action="{% url 'programa:lista_beneficios' programa.id %}" method="POST"> {% csrf_token %}<!-- hacer que los datos se envien a otra vista -->
    <label for="fecha_inicio">Fecha inicial:</label><br>
    <input type="date" name='fecha_inicio' required class="form-control"><br><br>

    <label for="fecha_fin">Fecha final:</label><br>
    <input type="date" name='fecha_fin' required class="form-control"><br><br>

    <input type="submit" value="Buscar">
</form>
{% endblock %}